<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:annotation-config></context:annotation-config>
    <context:component-scan base-package="events.customEvents"/>


    <!--<bean name="customContextEvent" class="com.bootcamp.events.CustomContextEvent"/>-->
    <!--<bean name="customStopEvent" class="com.bootcamp.events.ContextStopEvent"/>-->
    <!--<bean name="emailListener" class="com.bootcamp.events.customEvents.EmailListener"/>-->
    <!--<bean name="customPublisher" class="com.bootcamp.events.customEvents.CustomPublisher"/>-->

    <bean name="employeelistener" class="events.customEvents.EmployeeListener">
    </bean>
    <bean name="employeepublisher" class="events.customEvents.EmployeePublisher">
    </bean>


</beans>
